# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
venv311/
env/
.venv/

# Flask / runtime
instance/
.env
env
*.db
*.sqlite3

# Uploads & outputs (user audio files)
app/static/uploads/
app/static/outputs/

# Demucs model cache
pretrained_models/
.cache/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
